<div class="content-form">
    <h3>Yorum Ekle</h3>
    @*@ViewBag.deger*@
    <form method="post">
        <label name="Blogid">@ViewBag.deger</label>
        @*<input type="text" placeholder="ID" name="Blogid" value="@ViewBag.deger" required />*@
        <input type="text" placeholder="Kullanıcı Adı" name="KullanciAdi" required />
        <input type="text" placeholder="Email" name="Mail" required />
        <textarea placeholder="Yorum..." name="Yorum"></textarea>
        <input type="submit" value="Gönder" />
    </form>
</div>