
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_testLayout.cshtml";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>İletişim Paneli</title>
    <link href="~/blog/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/blog/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
    <!----//webfonts---->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--end slider -->
    <!--script-->
    <script type="text/javascript" src="~/blog/js/move-top.js"></script>
    <script type="text/javascript" src="~/blog/js/easing.js"></script>

</head>
<body>
    <div class="contact-content">
        <div class="container">
            <div class="contact-info">
                <h2>İLETİŞİM</h2>
                <p>Bizimle aşağıdaki formdan veya mail adresinden iletişime geçebilirsniz.</p>
            </div>
            <div class="contact-details">
                <form>
                    <input type="text" placeholder="İsim" required />
                    <input type="text" placeholder="Email" required />
                    <textarea placeholder="Mesaj"></textarea>
                    <input type="submit" value="Gönder" />
                </form>
            </div>
            <div class="contact-details">

                <div class="col-md-6 company_address">
                    <h4>İletişime Geçiniz</h4>

                    <p>Email: <a href="mailto:ayyizdizsoftware@gmail.com">ayyizdizsoftware@gmail.com</a></p>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>
</html>


